#info-bg{
			position:absolute;
			z-index:-1;
			width:1028px;
		}
		#info-show{
			position:absolute;
			top:75px;
			left:15px;
			width:800px;
		}
		#info-title{
			font-size:30px;
			position:absolute;
			width:400px;
			top:20px;
			left:300px;
			color:#fff;
			text-shadow:0 0 2px #ee9a00,0 0 8px #ee9a00,0 0 16px #ee9a00,0 0 32px #ee9a00;
		}
		#info-times{
			position:absolute;
			width:80px;
		}
		#info-num1{
			position:absolute;
			left:81px;
			width:20px;
		}
		#info-chance{
			position:absolute;
			left:120px;
			width:75px;
		}
		#info-num2{
			position:absolute;
			left:200px;
			width:20px;
		}
		.info-text{
			width:80px;
			font-size:15px;
			color:#fff;
			text-shadow:0 0 2px #ffff00,0 0 8px #ffff00,0 0 16px #ffff00,0 0 32px #ffff00;
		}
		.info-result{
			font-size:15px;
			color:#fff;
			text-shadow:0 0 2px aqua,0 0 8px aqua,0 0 16px aqua,0 0 32px aqua;
		}
		#ten{
			position:absolute;
			color:#fff;
			padding:10px;
			left:280px;
			top:195px;
			cursor:pointer;
			font-size:15px;
			background:transparent;
			border:1px solid aqua;
			border-radius:10px;
			transition: all 0.3s;
		}
		#ten:hover{
			background-color:#ff00ff;
		}
		
		
		
		
		
		#update-bg{
			position:absolute;
			z-index:-1;
			width:1028px;
		}
		#update-show{
			position:absolute;
			color:#fff;
			text-shadow:0 0 2px aqua,0 0 8px aqua,0 0 16px aqua,0 0 32px aqua;
			top:85px;
			left:15px;
			width:800px;
			font-size:15px;
		}
                #update-show ul li{
                        font-size:15px;
                }
		#update-title{
			font-size:30px;
			position:absolute;
			width:400px;
			top:20px;
			left:300px;
			color:#fff;
			text-shadow:0 0 2px red,0 0 8px red,0 0 16px red,0 0 32px red;
		}
		#member-data{
			position:absolute;
			color:#fff;
			width:150px;
			padding:10px;
			left:500px;
			top:20px;
			cursor:pointer;
			font-size:15px;
			background:transparent;
			border:1px solid aqua;
			border-radius:10px;
			transition: all 0.3s;
		}
		#member-data:hover{
			background-color:#ff00ff;
		}
		



	#recruit{position:absolute;z-index:1;top:510px;left:500px;height:90px;width:240px;cursor:pointer; background-color: transparent;background-image: url(ass/1.png);background-repeat: no-repeat;background-size: cover;}
	#clear{position:absolute;z-index:1;top:510px;left:760px;height:90px;width:240px;cursor:pointer;background-color: transparent;background-image: url(ass/2.png);background-repeat: no-repeat;background-size: cover;}